.start-page {
    background-image: url("../../assets/images/start-snake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.button-start {
    padding:10px 20px;
    position: relative;
    left: 80%;
    top: 10%;
}